
/* ---------- INITIAL CONFIGURATIONS ---------- */

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/* --- SO IT CAN BE EASIER TO CALCULATE CONVERSION --- */
html {
    font-size: 10px;
}

body {
    background-color: #242635;
}

/* --- TO SOME TEXT DECORATION --- */
.blue-decor {
    color: #34b0be;
}

.subtitle {
    font-size: 32px;
}

.body-text {
    font-size: 16px;
}

.textalign {
    text-align: center;
}

/* -------------------- MOBILE FIRST -------------------- */

/* ---------- HEADER/NAV ---------- */
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.8rem 2rem;
    height: 45px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #242635;
}

nav > label > img {
    background-color: #fff;
    color: #fff; /* OJO: cambiar el color del icono a blanco */
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa ~ ul {
    list-style: none;
    background-color: #d1ceca;
    /* --- LIST'S POSITION (HIDDEN WITH LEFT 100%) --- */
    position: absolute;
    width: 100%;
    height: calc(100vh - 45px);
    top: 45px;
    left: 100%;
    transition: all 300ms linear;
    /* --- FLEX CONFIG --- */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

input#menu-hamburguesa:checked ~ ul {
    /* --- WHEN CHECKBOX'S CHECKED THE LIST SHOW UP --- */
    left: 0;
}

input#menu-hamburguesa ~ ul > li > a {
    /* --- REMOVE ANCHOR'S UNDERLINE */
    text-decoration: none;
    font-size: 1.8rem;
}

input#menu-hamburguesa ~ ul > li > a:hover {
    /* --- PUT SOME COLOR ON THE SELECTED NAV OPTION --- */
    color: #34b0be;
    transition: all .2s linear;
}

/* --- THIS REFERS TO THE PHOTO AND ITS BACKGROUND --- */
section#section-header > div:first-child {
    background-color: #4b4f6c58;
    border-radius: 50%;
    height: calc(100vw - 16rem);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 3.2rem;
}

section#section-header > div:first-child > img {
    height: calc(100vw - 16rem);
    margin-left: 0.5rem;
}

/* --- THIS REFERS TO THE NAME / TITLE --- */
section#section-header > div:nth-child(2) {
    /* ABSOLUTE SO IT CAN BE OVERPLAPPED */
    position: absolute;
    margin-left: 2.4rem;
    top: 6.4rem;
}

h1 {
    font-size: 32px;
}

h1 > span {
    font-size: 50px;
}

section#section-header > div:nth-child(2) > hr {
    border-style: solid;
    background-color: #ffffff;
}

section#section-header > div:nth-child(2) > h2 {
    font-size: 18px;
    margin-top: 1rem;
}

section#section-header > h3:nth-child(3) {
    position: absolute;
    top: 8rem;
    right: 3.2rem;
    width: 16rem;
    font-size: 18px;
}

section#section-header > div:nth-child(4) {
    /* --- FLEX CAUSE OF THE ICONS --- */
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 14.4rem;
    right: 3.2rem;
    width: 16rem;
}

section#section-header > div:nth-child(4) > div {
    background-color: #d1ceca79;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 1.2rem;
}

section#section-header > div:nth-child(4) > div > img {
    /* --- CENTER THE ICONS --- */
    padding: calc((4rem - 24px)/2);
}

section#section-header > div:nth-child(5) {
    /* --- FLEX CAUSE OF THE IMAGES --- */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    border-radius: 5%;
    background-color: #4b4f6c58;
    height: 90px;
    width: calc(100vw - 6.4rem);
    left: 3.2rem;
    right: 3.2rem;
}

section#section-header > div:nth-child(5) > div {
    /* --- FLEX TO ALIGN IMAGES --- */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d1ceca79;
    border-radius: 10%;
    margin-right: 1.2rem;
    width: 9.6rem;
    height: 70px;
}

section#section-header > div:nth-child(5) > div > img {
    width: 60px;
    height: 60px;
}

main {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
}

main > section.container-servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

main > section.container-servicios > .item1 {
    width: 100%;
    text-align: center;
}

main > section.container-servicios > .item2 {
    display: flex;
    gap: 3rem;
}

main > section.container-servicios > .item2 > div.imagen-servicios {
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 30rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

main > section.container-servicios > .item2 > div.imagen-servicios > img:nth-child(1) {
    width: 30rem;
}

main > section.container-servicios > .item2 > div.imagen-servicios > img:nth-child(2) {
    width: 14rem;
    position: absolute;
    top: 5rem;
    left: 8rem;
}

main > section.container-servicios > .item2 > div.imagen-servicios > h3 {
    color: #242635;
    margin-top: 3rem;
    font-size: 18px;
}

main > section.container-servicios > .item2 > div.imagen-servicios > p {
    color: #d1ceca;
    width: 50%;
    font-size: 16px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

main > section.section-habilidades > input {
    width: 75%;
}

main > section.section-portafolio {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

main > section.section-portafolio > h2 {
    width: 100%;
    text-align: center;
}

main > section.section-portafolio > img {
    width: 30rem;
}

/* .container-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
}

.container-footer > .item1 {
    width: 100%;
    text-align: center;
}

.container-footer > .item-imagen {
    display: flex;
    gap: 3rem;
    margin-top: 0.2rem;
}

.container-footer > .item2 {
    margin-top: 6rem;
}

.container-footer > .item-imagen {
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 30rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container-footer > .item-imagen > img:nth-child(1) {
    width: 30rem;
}

.container-footer > .item-imagen > img:nth-child(2) {
    width: 6rem;
    position: absolute;
    top: 12rem;
    left: 12rem;
}

.container-footer > .item-imagen > h3 {
    color: #242635;
    margin-top: 0.5rem;
    font-size: 18px;
}

.container-footer > .item-imagen > p {
    color: #d1ceca;
    width: 50%;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
} */

.grid-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 35px;
    margin-top: 5rem;
    margin-bottom: 35px;
/*     justify-content: center;
    align-items: center; */
}

.grid-footer > .item1 {
    grid-column: 1 / 13;
    text-align: center;
}

.grid-footer > .item2 {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
    justify-self: center;
}

.grid-footer > .item3 {
    grid-column: 6 / 11;
    grid-row: 3 / 4;
    justify-self: center;
}

.container-footer > .item-imagen {
    display: flex;
    gap: 2rem;
    margin-top: 0.2rem;
    background-color: #ffffff;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 20rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.container-footer > .item-imagen > img:nth-child(1) {
    width: 20rem;
}

.container-footer > .item-imagen > img:nth-child(2) {
    width: 8rem;
    position: absolute;
    top: calc((20rem - 8rem)/2);
    left: calc((20rem - 8rem)/2);
}

.container-footer > .item-imagen > h3 {
    color: #242635;
    margin-top: 0.5rem;
    font-size: 18px;
}

.container-footer > .item-imagen > p {
    color: #d1ceca;
    font-size: 16px;
    margin-bottom: 1.2rem;
}

/* --------------------- Media Query --------------------- */

@media only screen and (min-width: 600px) {
    input#menu-hamburguesa~label{
        display: none;
    }

    input#menu-hamburguesa~ul{
        position: static;
        background-color: transparent;
        height: auto;
        justify-content: flex-end;
        transition: none;
        flex-direction: row;
    }

    input#menu-hamburguesa~ul > li{
        display: inline-block;
    }

    input#menu-hamburguesa~ul > li > a{
        padding: .5rem 1rem;
        font-size: 10px;
    }
}